
{% extends 'base.html' %}

{% block title %}Password Change {% endblock title %}

{% block content %}
  <h1>Password Change</h1>
  <p>please enter your old password for secutity purpose and then enter your new password
  twice to verify the password</p>
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-success" type="submit" name="" value="Change My Password">
  </form>
{% endblock content %}
